---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="combo.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
	{% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
</head>
<body>
<div class="section">
	<div class="container">
		<h1 class="section-heading">
			<i class="fa fa-frown-o fa-5x" aria-hidden="true" style="color: red;"></i>
			<h1 class="hero-heading">404 Not Found</h1>
		</h1>
		<h3 class="section-description">
			Sorry but the resource you requested is not available
		</h3>
		<a href="{{ site.url }}">Return to Home Page</a>
	</div><!-- container -->
</div><!-- section -->
</body>
</html>
