

/*
Custom CSS
*/

#award-table{
	width: 100%;
	border-collapse: separate;
	border-spacing: 35px;
}

#award-table td{
	width: 50%;
}

#heart-css {
	color: red;
}

#mypic {
	border-radius: 100%;
}

#downtable {
    border-collapse: collapse;
    width: 100%;
	overflow: hidden;
}

#downtable td, #downtable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#downtable tr {background-color: #f2f2f2;}

#downtable tr:hover {background-color: #ddd;}

#downtable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
	font-weight: bold;
    background-color: #007FFF;
    color: white;
}

#downtable a {
	text-decoration: none;
	font-weight: bold;
}

#downtable a:hover {
	color: #21ABCD;
}

#footer-tdiv {
	border-top: 1px black solid;
	margin-top: 2%;
 }

#color-none {
	background-color: transparent;
}
 
.contact-width {
	width: 100%;
}

.footer-t {
 	text-decoration: none;
}
 
.odd {
	color: red;	
}

.footer-t:hover {
 	color: red;
 }

.carousel-cell1 {
  width: 100%; /* full width */
}
  
 /* smaller, dark, rounded square */
.flickity-button {
  background: #333;
}
.flickity-button:hover {
  background: #F90;
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}

/* position dots up a bit */
.flickity-page-dots {
  bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}